h2 {color: black;}

/* Erstellt das Layout für den Container (Eltern)*/
.container {  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 150px 500px 150px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Content Content Side"
    "Footer Footer Footer";
  justify-items: stretch;
  
}
/* Erstellt/Posizioniert die Items (Kinder)*/
.Content { grid-area: Content; background: red;
}
.Header { grid-area: Header;background: blue; }

.Side { 
  grid-area: Side;
  background: green;
  justify-self: center;
} 


.Footer { grid-area: Footer; background: yellow;  }




/*CSS Grid Aufbau für die Hauptseiten*/
.container_main {  display: grid;
  grid-template-columns: 500px 604.6px 0.1px;
  grid-template-rows: 150px 500px 150px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Content Content Content"
    "Footer Footer Footer";
}

.Content_main { grid-area: Content; }

.Header_main { grid-area: Header; }

.Footer_main { grid-area: Footer; }

.home{
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}
.home :hover {
  color:blue;
}

/*///////////////////////////////////////*/

.warenkorb {
  margin: 0;
  padding: 0.3rem;
  background-color: #eee;
  width: 390px;
}


.warenkorb > h1,
.warenkorbArtikel {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
}

.warenkorbArtikel {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;

}


.warenkorbTabelleZellen{
  width: 50px;
  text-align: center;
}

.warenkorbTabelleItem{
  width: 200px;
}

.warenkorbTabellePrice{
  width: 200px;
  text-align: right;
}

.warenkorbButtonBestellen{
  background-color: rgb(0, 94, 255);
 
}

.warenkorbButtonLöschen{
  background-color: transparent;
  border-color: transparent;
}




