h2 {color: black;}

/* Erstellt das Layout für den Container (Eltern)*/
.container {  display: grid;
  grid-template-columns: 70% min-content;
  grid-template-rows: 150px 500px 150px;
  gap: 0px 0px;
  background-size: cover;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Headside"
    "Content Side Side"
    "Footer Footer Footer";
  justify-items: stretch;
 
}
/* Erstellt/Posizioniert die Items (Kinder)*/
.Content { 
  grid-area: Content; 
  justify-self: center;
}
.Header { 
  grid-area: Header;
  display: grid;
  justify-content: center;
 }

.Side { 
  grid-area: Side;
  grid-template-columns: 30%;
  
} 
.Headside{
  grid-area: Headside;
  align-self: center;
  
}


.Footer { grid-area: Footer;
}



/*CSS Grid Aufbau für die Hauptseiten*/
.container_main {  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 150px 500px 150px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Content Content Content"
    "Footer Footer Footer";
}

.Content_main { grid-area: Content; }

.Header_main { grid-area: Header; }

.Footer_main { grid-area: Footer; }

.home{
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}
.home :hover {
  color:blue;
}

/*///////////////////////////////////////*/


.menueList {
  margin: 0;
  padding: 0.3rem;
  width: 100%;
}

.menueItem {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.3rem;
  width: 95%;


}
  
.warenkorb {
  background-color: aqua;
  margin: 0;
  padding: 0.3rem;
 
}
.warenkorb > h1,
.warenkorbArtikel {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
}

.warenkorbArtikel {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}


.warenkorbTabelleZellen{
  width: 75px;
  text-align: center;
}

.warenkorbTabelleItem{
  word-wrap: break-word;
  width: 200px;
}

.warenkorbTabellePrice{
  width: 75px;
  text-align: right;
}

.warenkorbButtonBestellen{
  background-color: rgb(0, 94, 255);
  position: relative;
  left: 265px;
}

.warenkorbButtonLöschen{
  background-color: transparent;
  border-color: transparent;
}




@keyframes changeBackground {
  0% { background-color: lightslategray; }
  50% { background-color: lightskyblue; }
  100% { background-color: lightslategray}
}

body {
  animation: changeBackground 10s infinite;
}