h1 {
    font-size: 5vw;
    font-style: oblique;
    color: #AAAE7F;
    text-align: center;
}
html{
    background-color: #EFEFEF;
}

p {
    font-size: 3vw;
    text-align: center;
    color: #AAAE7F;
}

#index_p2 {
    font-size: 2vw;
}
.index_btn {
    background-color: transparent;
    border: none;
    size: 20%;
}
.auswahl_btn {
    margin-top: 5vw;
    padding: 1vw;
    background-color: #143109;
    color: white;
    border: none;
    border-radius: 20px;
    z-index: 20;
}

#csvTable {
    color: white;
}
.picture{
    height: 10vw;
}
.picture_typ{
    height: 15vw;
}
#table_typ_select_container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    padding: -20 0 -20 0;
}
#table_food_select_container{
    width: 100%;
    height: 100%;
    position: absolute;
}
#index_img_vegan{
    height: 5vw;
}
#index_header1{
    position: absolut;
}
.btn_div{
    text-align: center
}
#ueberspringen_auswahl{
    position: relative;
    left: 25%;
}
#table_price_select_container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    padding: -20 0 -20 0;
}

.slide_out{
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
}
.slide_out_typ{
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}
.slide_in{
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
}
.slide_in_food{
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}
.index_table{
    position: relative;
}
.invisible{
    color: transparent;
    background-color: transparent;
}
.warenkorb_button_all {
    display: grid;
    justify-content: center;
    color:white;
}
.warenkorb_button{
    padding: 15px 32px;
}
#produkt1{
    color: white;
    padding: 15px 32px;
    font-size: 25px;
}
#produkt2{
    color: white;
    padding: 15px 32px;
    font-size: 25px;
}
#produkt3{ color: white;
    padding: 15px 32px;
    font-size: 25px;
}
#warenkorb_ausgang{
    color: green;
    display: flex;
    justify-content: end;
    align-items: end;

  }

.home{
    color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}
.home :hover {
    color: rgba(255, 0, 0, 0.269);
}
.container{
    max-width: 1920px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 5fr));
    grid-gap: 2vw;
    
}
.cart{
    background: rgba(249, 39, 194, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    }
.choice_table{
    color: #143109;
}
.td{
    width: auto;
    padding: 6px;
}
.choice_div{
    background: #D0D6B3;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);

}
.form{
    color: white;
    display: flex;
    justify-content: center;
}
#street_nbr{
    width: 15%;
}
#street{
    width: 40%;
}
.input_adress{
    width: 58%;
    margin-bottom: 5%;
}
#choice_btn_back_home{
    font-size: 300%;
    transform: translateY(50%);   
    
}
a {
    text-decoration: none;
    color: #143109;
}
.choice_div_back{
    justify-self: center;
    min-height: 150px;
}
.choice_btn{
    border: none;
}