h1 {
    font-size: 5vw;
    font-style: oblique;
    color: white;
    text-align: center;
}
html{
    background-color: #171735;
}

p {
    font-size: 3vw;
    text-align: center;
    color: white;
}

#index_p2 {
    font-size: 2vw;
}
.index_btn {
    background-color: transparent;
    border: none;
    size: auto;
}
.ueberspringen {
    text-align: center;
}
#ueberspringen_auswahl {
    margin-top: 5vw;
    padding: 1vw;
    background-color: #1c17255e;
    color: white;
    border: none;
}
#csvTable {
    color: white;
}
.picture{
    height: 10vw;
}
#table_typ_select_container{
    position: absolute;
    left: -100%;
    top: 42%;
    z-index: 3;
}
#table_typ_select{
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
}
table_food_select_container{
    z-index: 1;
    position: absolut;
}
#index_img_vegan{
    height: 5vw;
}
#index_header1{
    z-index: 1;
    position: absolut;
}
.picture_typ{
    height: 300px;
}
.slide_out{
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
}
.slide_in{
    transition: all 0.5s ease-in-out;
    transform: translateX(280%);
}